.input {
    padding: 5px 5px;
    border-color: #505050;
}

.error {
  border-color: red;
}

@media only screen and (min-width: 480px) {
  .input {
    width: 40vw;
  }
}

@media only screen and (max-width: 480px) {
  .input {
    width: 55vw;
  }
}

@media only screen and (min-width: 992px) {
  .input {
    width: 25vw;
  }
}
