
.form {
    font-family: Roboto;
    padding: 5px 10px;
    background-color: #ffffff;
    min-width: 600px;
    width: 70vw;
    border: 1px solid #ccc;
    box-shadow:0 4px 5px rgba(0, 0, 0, .14);
    height: 30em;
    margin: 5px 0 0 0;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}


.title {
    text-align: right;
    padding: 20px 20px;
}

.color {
    background-color: #d0d39a;
    width: 50%;
    height: 100%;

}

.textBlock {
    padding: 20px;
    width: 50%;
    position: relative;
}

.button {
    font-weight: 700;
    color: #ffffff;
    background-color: #7e7e7e;
    text-transform: uppercase;
    width: 200px;
    padding: 10px ;
    font-size: 14px;
    align-items: right;
}

.button:hover,
.button:focus,
.button:active{
    color: #fdd700;
}
