.main {
  background-color: #ffffff;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #000000;
  padding: 15px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: min-content;
  padding: 20px 20px;
  background-color: #ffffff;
  min-width: 600px;
  width: 70vw;
  border: 1px solid #ccc;
  box-shadow:0 4px 5px rgba(0, 0, 0, .14);
  margin: 5px 0 0 0;
}

.title {
  text-transform: uppercase;
  color: #fdd700;
}

.description {
 text-align: justify;
}

.left {
width: 40%;
}

.right {
width: 50%;
}
