
.header {
    padding: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    font-size: 14px;
    color: white;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
}

.mainNavigation {
    display: flex;
}

.navigationList {
    margin: 0;
    padding: 20px 1vw 0 1vw;
    display: flex;
    list-style: none;
}

.linkLogo {
  padding: 0;
  margin: 0;
}

.navigationItem {
    padding: 1vw 3vw 1vw 3vw;
    font-size: 18px;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.navigationItem:hover,
.navigationItem:active,
.navigationItem:focus {
    color:#f11e22;
}

@media only screen and (min-width: 768px) {
  .logo {
    display: block;
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width : 900px) {
  .logo {
    display: none;
  }
}

