
.header {
    font-family: Roboto;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    background-color: white;
}

.mainNavigation {
    display: flex;
    justify-content: space-between;
}

.navigationList {
    padding: 15px 150px 0 100px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo {
    padding: 5px;
    width: 150px;
    height: 75px;
}

.navigationItem {
    padding: 50px 45px 50px 45px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.navigationItem:hover,
.navigationItem:active,
.navigationItem:focus {
    color:#f11e22;
}

.navigationItemCurrent {
    padding: 50px 50px 50px 50px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #f11e22;
}
