
.button {
    font-weight: 700;
    color: #ffffff;
    background-color: #7e7e7e;
    text-transform: uppercase;
    width: 200px;
    padding: 10px ;
    position: absolute;
    font-size: 14px;

}

.button:hover,
.button:focus,
.button:active{
    color: #fdd700;
}