
.main {
    background-color: #ffffff;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    padding: 15px;
}