.form {
    padding: 20px 20px;
    background-color: #ffffff;
    min-width: 600px;
    width: 70vw;
    border: 1px solid #ccc;
    box-shadow:0 4px 5px rgba(0, 0, 0, .14);
    height: 30em;
    margin: 5px 0 0 0;
}

.form:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}