.main {
  background-color: #ffffff;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000000;
  padding: 15px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: min-content;
  padding: 20px 20px;
  background-color: #ffffff;
  min-width: 600px;
  width: 70vw;
  border: 1px solid #ccc;
  box-shadow:0 4px 5px rgba(0, 0, 0, .14);
  margin: 5px 0 0 0;
}

.link {
  text-decoration: none;
  color: #000;
  width: 300px;
}

.link:hover {
  color: #f11e22;
}
.link img {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.link img:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.title {
  text-transform: uppercase;
  color: #f11e22;
}

.button {
  font-weight: 700;
  color: #ffffff;
  background-color: #7e7e7e;
  text-transform: uppercase;
  width: 200px;
  padding: 10px ;
  font-size: 14px;
}

.button:hover,
.button:focus,
.button:active{
  color: #f11e22;
}

.ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  background: #f11e22;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ellipsis div:nth-child(1) {
  left: 6px;
  animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
  left: 6px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
  left: 26px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
  left: 45px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

