
.form {
    background-color: #ffffff;
    min-width: 600px;
    width: 70vw;
    border: 1px solid #ccc;
    box-shadow:0 4px 5px rgba(0, 0, 0, .14);

}

.form:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}